<div class="container">
	<div class="row">
		<div class="col-md-3">
			<app-rooms>

			</app-rooms>
		</div>

		<div class="col-md-6">
			<div class="mesgs">
				<div class="msg_history">
					<li class="message" *ngFor="let message of messages">
						<div *ngIf="
						username !== message.username;
						then incoming_msg;
						else outgoing_msg
					  "></div>
						<ng-template #incoming_msg>
							<div class="incoming_msg">
								<div class="received_msg">
									<div class="received_withd_msg">
										<span>{{message.time }}: {{ message.username}} :</span>
										<p>{{ message.message }}</p>
									</div>
								</div>
							</div>
						</ng-template>
						<ng-template #outgoing_msg>
							<div class="outgoing_msg">
								<div class="sent_msg">
									<span >{{message.time }}: me :</span>
									<p>{{ message.message }}</p>
								</div>
							</div>
						</ng-template>
					</li>
				</div>
				<div class="form">
					<form>
						<input id="input" type="text" placeholder="Type a message" name="newMessage"
							[(ngModel)]="message" #input (keyup)="$event.keyCode == 13 && sendMessage();" />
						<button type="button" (click)="sendMessage();">
							send
						</button>
					</form>

				</div>
			</div>
		</div>

		<div class="col-md-3">
		</div>
	</div>

</div>