<div *ngIf="username; else elseBlock">
  <app-rooms></app-rooms>

</div>

<ng-template #elseBlock>
 
    
      <div class="login-form">
        <form >
          <h2 class="text-center">Join The Chat</h2>       
          <div class="form-group">
              <input #name type="text" class="form-control" placeholder="Username" required="required">
          </div>
          <div class="form-group">
              <button (click)="saveUsername(name.value)" class="btn btn-primary btn-block">save your name</button>
          </div>
          <div class="single category">
            <h3 class="side-title">Online users : {{users.length}}</h3>
            <ul class="list-unstyled"> 
              <li *ngFor="let user of users">
                {{user.name}}
              </li>
            </ul>
          </div> 
        </form> 
      
        
      </div>



 
</ng-template>